@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}  

body {
    padding: 0;
    margin: 0;
    background: #596778;
    color: #EEEEEE;
    text-align: center;
    font-family: "Lato", sans-serif;
}

.div-header {
    display: flex;
    height: 12vh;
    width: auto;
    background-color: #CBA47E;
}

.introduction {
    margin: 5vh;
    color: #6F1D1B;
    font-family: "Nerko One", cursive;
    font-size: 25px;
}

.title {
    color: black;
    font-family: "Nerko One", cursive;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    margin-top: 4vh;
    margin-left: 75vh;
    margin-right: auto; 
}
 
@media screen and (max-width: 700px) {
    body {
       padding: 170px 0 0 0;
       width: 100%
    }
}

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .carousel-slide {
    width: 100%;
    height: 88vh; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .carousel-slide:nth-child(1) {
    background-image: url("img/um.jpg");
  }
  .carousel-slide:nth-child(2) {
    background-image: url("img/dois.jpg");
  }
  .carousel-slide:nth-child(3) {
    background-image: url("img/tres.jpg");
  }
  .carousel-slide:nth-child(4) {
    background-image: url("img/quatro.jpg");
  }
  .carousel-slide:nth-child(5) {
    background-image: url("img/cinco.jpg");
  }
  .carousel-slide:nth-child(6) {
    background-image: url("img/seis.jpg");
  }

  .carousel-nav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  .carousel-nav button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .carousel-nav button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .carousel-nav button:disabled {
    opacity: 0.5;
    cursor: default;
  }