@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}  

body {
    padding: 0;
    margin: 0;
    background: #596778;
    color: #EEEEEE;
    text-align: center;
    font-family: "Lato", sans-serif;
}

.div-header {
    display: flex;
    height: 12vh;
    width: auto;
    background-color: #CBA47E;
}

.introduction {
    margin: 5vh;
    color: #6F1D1B;
    font-family: "Nerko One", cursive;
    font-size: 25px;
}

.title {
    color: black;
    font-family: "Nerko One", cursive;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    margin-top: 4vh;
    margin-left: 75vh;
    margin-right: auto; 
}
 
@media screen and (max-width: 700px) {
    body {
       padding: 170px 0 0 0;
       width: 100%
    }
}

.carrossel {
    position: relative;
    width: 100%;
    height: 60vh; /* Ajuste conforme necessário */
    overflow: hidden;
}

.carrossel-inner {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease;
}

.carrossel-item {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.carrossel-control-prev,
.carrossel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

.carrossel-control-prev {
    top: 23vw;
    left: 50px;
}

.carrossel-control-next {
    top: 23vw;
    right: 50px;
}